<div class="excel-table-container">

  <input type="text" class="form-control" placeholder="Search" [(ngModel)]="search" id="listSearch">

  <div class="excel-table" *ngIf="data?.length > 0 && !loading">
    <table>
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Ip</th>
        <th>SO</th>
        <th>Service Pack</th>
        <th>Tipo</th>
        <th>Oficina</th>
        <th>Usuario</th>
        <th>Nombre Usuario</th>
        <th>Última Conexión</th>
        <th>Tel.</th>
      </tr>

      </thead>
      <tbody>
      <tr *ngFor="let item of data | LockFilter: search">
        <td data-label="Nombre">{{item[0]}}</td>
        <td data-label="Ip">{{item[1]}}</td>
        <td data-label="SO">{{item[2]}}</td>
        <td data-label="Service Pack">{{item[3]}}</td>
        <td data-label="Tipo">{{item[4]}}</td>
        <td data-label="Oficina">{{item[5]}}</td>
        <td data-label="Usuario">{{item[6]}}</td>
        <td data-label="Nombre Usuario">{{item[7]}}</td>
        <td data-label="Última Conexión">{{item[8]}}</td>
        <td data-label="Teléfono">{{item[9]}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="loader-container" *ngIf="loading">
    <div class="loader loader--md"></div>
  </div>
</div>
