.am-header {
  display: block;
  font-family: 'ProximaNova', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  background-size: cover;
  position: relative;
  z-index: 99;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  width: 100%;

  .main-nav {
    height: 56px;
    background: #d81e05;

    menu {
      padding: 0;
      margin: 0;
      height: 100%;
    }

    .logo {
      float: left;
      padding-top: 16px;
      padding-right: 16px;
      display: inline-block;

      img {
        max-height: 35px;
      }

      .am {
        padding-right: 24px;
      }

      .separator {
        border-right: 1px solid black;
        height: 46px;
      }
    }
  }
}
